{{ define "main" }}
<main class="single">
  <!-- 文章信息头部 -->
  <section class="post-info narrow">
    <div class="screen">
      <div class="post-info-content">
        <div class="banner-reveal">
          <div class="category-tags-row">
            {{ if .Params.categories }}
              <div class="category">
                {{ range .Params.categories }}
                    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="category-tag" data-flux="{{ mod (hash.FNV32a .) 5 }}">{{ . }}</a>
                {{ end }}
              </div>
            {{ end }}

            {{ if .Params.tags }}
              <div class="tags">
                {{ range .Params.tags }}
                  <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag" data-flux="{{ mod (hash.FNV32a .) 5 }}">{{ . }}</a>
                {{ end }}
              </div>
            {{ end }}
          </div>

          <div class="msg">
            <span>{{ .Date.Format (.Site.Params.dateFormat | default "2006年1月2日") }}</span>
            {{ if ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02") }}
              <span class="drop">·</span>
              <span>更新于 {{ .Lastmod.Format (.Site.Params.dateFormat | default "2006年1月2日") }}</span>
            {{ end }}
            <span class="drop">·</span>
            <span>{{ .WordCount }} 字</span>
          </div>
        </div>

        <div class="title-box main-reveal">
          <div class="title">{{ .Title }}</div>
          {{ if .Params.subtitle }}
            <div class="subtitle">{{ .Params.subtitle }}</div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

  <!-- 文章内容和TOC -->
  <section class="single post-content narrow">
    <div class="screen">
      <div class="content-and-toc{{ if not .TableOfContents }} no-toc{{ end }}">
        {{- $articleId := .Slug | default .Title | urlize -}}
        {{- $articlePath := "" -}}
        {{- with .File -}}
          {{- $articleId = .ContentBaseName | urlize -}}
          {{- $articlePath = printf "content/%s" .Path -}}
        {{- end -}}
        <div class="content main-reveal" data-highlight-article-id="{{ $articleId }}" data-highlight-article-path="{{ $articlePath }}" data-highlight-section="{{ .Section }}">
          {{ .Content }}

          {{/* 落款：干支纪年 + 印章 */}}
          {{ partial "colophon.html" . }}
        </div>

        {{ if .TableOfContents }}
          <div class="toc-container main-reveal">
            {{ partial "toc.html" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  <!-- 分享按钮 -->
  {{ if .Site.Params.shareButtons }}
    <section class="post-share">
      <div class="screen">
        {{ partial "share-buttons.html" . }}
      </div>
    </section>
  {{ end }}

  <!-- 相关文章 -->
</main>


{{ end }}
